body{
  background-image: url('../img/login-wallpaper.jpg');
  background-attachment: fixed !important;
  background-position: center;
	background-repeat: repeat !important;
	background-size: cover !important;
}
.centered{
    position: fixed;
    padding:1%;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
