.navbar{
  display:block;!important
}
.msg_bubble{
  margin-top: 10px;
  border-radius: 50px;
  padding:10px;
  background-color: silver;
  display: inline-flex;
}
.right_msg_bubble{
  margin-top: 10px;
  border-radius: 50px;
  float:right;
  padding:10px;
  background-color: lightgreen;
  display: inline-flex;
}
