body {
	background-image: url("../img/chat-wallpaper.jpg");
	background-attachment: fixed !important;
	background-repeat: repeat !important;
	background-size: cover !important;
}
.msg_bubble{
  border-radius: 50px;
  padding:10px;
  background-color: silver;
  display: inline-flex;
}
.right_msg_bubble{
  border-radius: 50px;
  float:right;
  padding:10px;
  background-color: lightgreen;
  display: inline-flex;
}
