<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Banana Talk - Home </title>
    <link href="/static/css/ionicons.min.css"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>
  <body>
<!-- 'messagebox' will be used to output the messages -->
    <div class="messagebox"></div>
<!-- Form for accepting the Message -->
    <nav class="navbar bg-dark navbar-dark fixed-bottom">
    <form method="post">
      <div class="input-group">
        <input type="text" class="message form-control" placeholder="Messages">
          <button type="submit" class="btn btn-success">SEND&nbsp;&nbsp;<i class="icon ion-paper-airplane"></i></button>
      </div>
    </form>
  </nav>
<!-- Importing the needed javascript files -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
