<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Python Chat </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>
  <body>
<!-- 'messagebox' will be used to output the messages -->
    <div class="messagebox"></div>
<!-- Form for accepting the Message -->
    <nav class="navbar bg-dark navbar-dark fixed-bottom">
    <form method="post" class="form-inline">
         <div class="input-group col-6">
           <span class="input-group-addon">Your Name: </span>
           <input type="text" class="username form-control" placeholder="Name">
         </div>
         <div class="input-group col-6">
           <input type="text" class="message form-control " placeholder="Messages">
           <span class="input-group-btn">
             <button type="submit" class="btn btn-success" id="send"> Send </button>
           </span>
      </div>
    </form>
  </nav>
<!-- Importing the needed javascript files -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
